/* Mobile */
@media screen and (max-width: 500px){
    .itemsContainer {
        margin: auto;
        margin-top: 1em;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .minHeight {
        min-height: 360px;
    }
    
    .categories {
        margin: auto;
        max-width: 1260px;
        display: none;
        justify-content: left;
    }
}
/* Tablets */
@media screen and (min-width: 501px ) and (max-width: 1023px){
    .itemsContainer {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .minHeight {
        min-height: 600px;
    }
    
    .categories {
        margin: auto;
        max-width: 1260px;
        display: none;
        justify-content: left;
    }
}
/* Medium Desktops */
@media screen and (min-width: 1024px ) and (max-width: 1480px){
    .itemsContainer {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .minHeight {
        min-height: 520px;
    }
    
    .categories {
        margin: auto;
        margin-top: 1em;
        max-width: 1260px;
        display: flex;
        justify-content: left;
        position: relative;
    }
    
    .categories ul {
        position: absolute;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.4s;
    }

    .categories:hover ul {
        margin-top: 2em;
        background-color: white;
        max-height: 300px;
    }

    .categories li {
        padding: 1em;
    }

    .categoryColor {
        color: black;
    }
}
/* Large Desktops */
@media screen and (min-width: 1481px){
    .itemsContainer {
        margin: auto;
        min-height: 468px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .minHeight {
        min-height: 520px;
    }
    
    .categories {
        margin: auto;
        margin-top: 1em;
        max-width: 1260px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        position: relative;
    }

    .categories ul {
        position: absolute;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.4s;
    }

    .categories:hover ul {
        margin-top: 2em;
        background-color: white;
        max-height: 300px;
    }

    .categories li {
        padding: 1em;
    }

    .categoryColor {
        color: black;
    }
}