/* Mobile */
@media screen and (max-width: 500px){
    .itemCard {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 2em;
        margin: 1em;
        border-top: 2px solid #333333;
    }
    
    h4 {
        text-align: center;
        margin-bottom: 1em;
    }
    
    p{
        font-size: 14px;
        padding: 0.5rem 0 0.5rem 0;
    }
    
    .price {
        text-align: right;
        margin-top: 1em;
        margin-bottom: 0.5rem;
        font-size: 20px;
    }
}
/* Tablet */
@media screen and (min-width: 501px ) and (max-width: 1023px){
    .itemCard {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 2em;
        margin: 1em;
        border-top: 2px solid #333333;
    }
    
    h4 {
        text-align: center;
        margin-bottom: 1em;
    }
    
    p{
        font-size: 14px;
        padding: 0.5rem 0 0.5rem 0;
    }
    
    .price {
        text-align: right;
        margin-top: 1em;
        margin-bottom: 0.5rem;
        font-size: 20px;
    }
}
/* Medium Desktops*/
@media screen and (min-width: 1024px ) and (max-width: 1480px){
    .itemCard {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 2em;
        margin: 1em;
        border-top: 2px solid #333333;
    }
    
    h4 {
        text-align: center;
        margin-bottom: 1em;
    }
    
    p{
        font-size: 14px;
        padding: 0.5rem 0 0.5rem 0;
    }
    
    .price {
        text-align: right;
        margin-top: 1em;
        margin-bottom: 0.5rem;
        font-size: 20px;
    }
}
/* Large Desktops */
@media screen and (min-width: 1481px){
    .itemCard {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 2em;
        margin: 1em;
        border-top: 2px solid #333333;
    }
    
    h4 {
        text-align: center;
        margin-bottom: 1em;
    }
    
    p{
        font-size: 14px;
        padding: 0.5rem 0 0.5rem 0;
    }
    
    .price {
        text-align: right;
        margin-top: 1em;
        margin-bottom: 0.5rem;
        font-size: 20px;
    }
}
