.contactBanner{
    min-width: 100%;
    height: 700px;
    background-image: url(../images/contactBanner.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contactCards{
    margin: auto;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1400px;
}

.contactCards div {
    background-color: white;
    border-top: black solid 1px;
    margin: 1em 3em 1em 3em;
    width: 500px;
    height: 200px;
}

.contactCards div h3 {
    margin-top: 4px;
    margin-bottom: 1em;
}

.contactCards div p{
    padding: 1rem 0rem 1rem 0rem;
}

.contactCards div p:hover{
    cursor: pointer;
}

h1 {
    font-size: 48px;
    text-align: center;
    padding-top: 4em;
}

.arrow {
    color: black;
    font-weight: bolder;
}