*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

a{
    color: #EEEEEE;
    text-decoration: none;
}

li{
    list-style: none; 
}

button {
    background-color: #0077ED;
    color: #EEEEEE;
    border: 0px;
    border-radius: 0.5rem;
    padding: 1em;
} 

button:hover {
    opacity: 85%;
    cursor: pointer;
}

